:root {
  --bg-color: #EEEEFF;
  --text-color: #253031;
  --accent-color: #EBE66A;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.bg-dark {
  background-color: #253031;
}

.bg-accent {
  background-color: #EBE66A;
}

.bg-light {
  background-color: #EEEEFF;
}

.text-dark {
  color: #253031;
}

.text-light {
  color: #EEEEFF;
}

.text-accent {
  color: #EBE66A;
}